/* Custom Scrollbar - Adapts to Theme */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-left: 1px solid var(--border);
}

.light ::-webkit-scrollbar-thumb {
  background: var(--primary-heavy-light);
  border-radius: 2px;
  border: 1px solid var(--primary);
  box-shadow: inset 0 0 4px #ffdddd;
}

.dark ::-webkit-scrollbar-thumb {
  background: var(--primary-heavy-dark);
  border-radius: 2px;
  border: 1px solid var(--primary);
  box-shadow: inset 0 0 5px #000;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
  box-shadow: 0 0 10px var(--primary);
}
